# secrets.toml.example
# Bạn hãy đổi tên file này thành secrets.toml, sau đó tạo và thêm file vào folder .streamlit; và điền thông tin thật vào
[auth]
username = "DIEN_USERNAME_VAO_DAY"
password = "DIEN_PASSWORD_VAO_DAY"